:root {
    font-size: 18px;
}

/* Home start */
.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Home End */

/* Navbar Start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.right-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links ul {
    gap: 1rem;
    justify-content: end;
}

.svg-icon-sm {
    width: 2rem;
    height: 2rem;
}

.svg-icon-sm path {
    stroke: rgba(0, 0, 0, 0.4);
}

/* Navbar End */

/* Main content Start */
.main-content {
    padding: 1rem;
    background-color: black;
    color: white;
}

.main-image {
    max-width: 100%;
}
.left-content {
    padding-right: 1rem;
}

/* Main content End */

/* Services Start */
.services {
    padding: 1rem;
}

.services-header {
    text-align: center;
}
.services-header h2 {
    font-weight: 200;
}

.services-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.services-card {
    text-align: center;
}
/* Services End */

/* Footer Start */
footer {
    background-color: black;
    color: white;
    margin-top: auto;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#Dribbble-Light-Preview {
    fill: white;
}
/* Footer End */

@media screen and (min-width: 600px) {
    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}
