:root {
    font-size: 18px;
}

/* Navbar Start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.right-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links ul {
    gap: 1rem;
    justify-content: end;
}

.svg-icon-sm {
    width: 2rem;
    height: 2rem;
    fill: rgba(0, 0, 0, 0.2);
}

/* Navbar End */

/* Main content Start */
.main-image {
    max-width: 100%;
}

/* Main content End */

@media screen and (min-width: 600px) {
    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
