:root {
    font-size: 18px;
}

/* Home start */
.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Home End */

/* Navbar Start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.right-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links ul {
    gap: 1rem;
    justify-content: end;
}

.svg-icon-sm {
    width: 2rem;
    height: 2rem;
}

.svg-icon-sm path {
    stroke: rgba(0, 0, 0, 0.4);
}

.login-btn,
.close-login-btn,
.close-cart-btn {
    cursor: pointer;
}

.login-form,
.cart {
    position: fixed;
    top: 0;
    right: -400px; /* move the form outside of the screen */
    height: 100vh;
    width: 300px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}

.login-form.show,
.cart.show {
    transform: translateX(-400px); /* move the form to the left */
}

.login-head,
.cart-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1rem;
}

form {
    padding: 1rem;
}

label {
    font-size: 0.8rem;
    padding-top: 1rem;
    font-weight: 500;
}

input {
    border: 1px solid rgb(128, 128, 128, 0.5);
    padding: 3px 5px;
}

.register-link {
    font-size: 0.5rem;
}

.register-link a {
    color: blue;
}

.form-group {
    display: flex;
    flex-direction: column;
}

/* Navbar End */

/* Main content Start */
.main-content {
    padding: 1rem;
    background-color: black;
    color: white;
}

.main-image {
    max-width: 100%;
}
.left-content {
    padding-right: 1rem;
}

.start-btn,
.deals-btn,
.add-to-cart-btn,
.login-confirm-btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.start-btn:hover,
.deals-btn:hover,
.login-confirm-btn:hover {
    background-color: #3e8e41;
}
/* Main content End */

/* Services Start */
.services {
    padding: 1rem;
}

.services-header {
    text-align: center;
}
.services-header h2 {
    font-weight: 200;
}

.services-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.services-card {
    text-align: center;
}
/* Services End */

/* Footer Start */
footer {
    background-color: black;
    color: white;
    margin-top: auto;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#Dribbble-Light-Preview {
    fill: white;
}
/* Footer End */

/* Deals Start */
.deals {
    height: 10rem;
    padding: 1rem;
    background-color: black;
    color: white;
}
.deals-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.deals-right {
    display: flex;
    justify-content: flex-end;
}

.deals-right img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    justify-self: end;
}
/* Deals End */

/* Products Start */
.products {
    padding: 1rem;
}
.shop-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    gap: 1rem;
}

.product-card {
    width: 250px;
    height: auto;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:hover {
    border: 1px solid black;
}

.product-image img {
    width: 180px;
    height: 180px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
}

.title-price {
    display: flex;
    gap: 1rem;
}

.add-to-cart-btn {
    background-color: rgb(86, 86, 253);
}

.add-to-cart-btn:hover {
    background-color: blue;
}
/* Products End */

@media screen and (min-width: 600px) {
    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}
